@import "tailwindcss";


.key-glow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(98, 98, 241);
  z-index: -1;
  opacity: 3;
  transition:  opacity 100ms ease-out;
}

.key-glow:hover::before {
  opacity: 0.5;
}

.key-glow:active::before {
  opacity: 0;
}

